<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPOTIFY_API_APP"
        tools:targetApi="31">

        <activity
            android:name=".changeLoginInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_change_login_info"
            android:theme="@style/Theme.SPOTIFY_API_APP" />
        <activity
            android:name=".MainProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="auth"
                    android:scheme="com.example.spotify-api-app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wSpotify"
            android:exported="false" />
        <activity
            android:name=".WrappedActivity"
            android:exported="false" />
        <activity
            android:name=".ArtistsActivity"
            android:exported="false" />
        <activity
            android:name=".SongsActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumsActivity"
            android:exported="false" />
        <activity
            android:name=".FeedActivity"
            android:exported="false" />
        <activity
            android:name=".DurationPopUpActivity"
            android:exported="false" />
    </application>

</manifest>